<%- include header %>
<nav class="novel container">
        <nav class="articleLocation">
            <nav class="site-nav login">
                <% if (user) { %>
                  <span><a href="/head-portrait"><img src="<%= user.head %>" style="display:inline-block; width:25px; height:25px; box-shadow:0px 1px 4px #888; border-radius:50%;"></a></span>
                  <span><%= user.name %></span>
                  <span><a title="发表文章" href="/post" class="glyphicon glyphicon-cloud-upload">发表文章</a></span>
                  <span> </span>
                  <span><a title="退出" href="/logout" class="glyphicon glyphicon-log-out">退出</a></span>
                <% } else { %>
                  <span><a title="登录" href="/login" class="glyphicon glyphicon-log-in">登录</a></span>
                  <span> </span>
                  <span><a title="注册" href="/reg" class="glyphicon glyphicon-user">注册</a></span>
                <% } %>
                    <% if(success) { %>
                    <div><%= success %></div>
                    <% } %>
                <% if (error) {%>
                    <div><%= error %> </div>
                    <% } %>
            </nav>
            <nav style="padding-top:15px;">
               <% posts.forEach(function (post, coding) { %>
                <!--  对于属性传递变量参数，只能用js来更改-->
                    <!--  var a = document.getElementById("post").href = javascript: `/article?id = ${id}`-->
                   <div>
                        <div class="brief">
                            <h3><a id="post" href ="/article?id=<%= post._id %>"><%= post.title %></a></h3>
                            <img src="<%= post.head %>" class="pull-left pictureLocation" style="display:inline-block; width:40px; height:40px; box-shadow:0px 1px 4px #888;"/>
                            <p class="info">
                                <a href="#" class="glyphicon glyphicon-user">:<%= post.name %></a>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <a href="#" class="glyphicon glyphicon-time">:<%= post.time.minute%></a> 
                            </p>
                            <div class="article">
                                <%- post.post %>
                            </div>
                         <!-- <p class="pull-right">评论</p>-->
                        </div>
                        <div class="info" style="margin-top:15px;">
                            <span class='glyphicon glyphicon-comment'>评论(<%- post.comments.length%>)</span>
                            <span>&nbsp;</span>
                            <span class="glyphicon glyphicon-share-alt">阅读(<%- post.pv %>)</span>
                            <% if(user) { %>
                                <% if(user.name == post.name) { %>
                                    <a href="/removeArticle?id=<%= post._id %>" class="glyphicon glyphicon-flash pull-right" style="margin-right:20px;margin-top:2px;">删除</a>
                                <% } %>
                            <% } %>
                            <hr style="height:1px;border:none;border-top:1px dashed #996; width:90%" />
                        </div>
                        
                   </div>     
                <% }) %>
            </nav>
     </nav>
</nav>
    
<%console.log(total, pagesize, currentpage)%>
<%- include components/page {total:total, pagesize:pagesize, currentpage:currentpage}%>
<%- include footer %>